.players-game {
    animation: Players 2s;
    img {
        width: 120px;
        height: 120px;
        border-radius: 90px;
    }
}

@keyframes Players {
    0% {
        transform: translate(0px, -200px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
