.modal-grid {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	background-image: url('https://i.gifer.com/origin/1a/1af8d3b487b77085d5288814f151e1de.gif');
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 4fr;
		margin-top: 150px;
		width: 1000px;
		height: 650px;
		background: white;
	}
	&__window {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 200px 200px;
	}
}
