.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
    }
}

@media screen and (max-width: 380px) {
    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            margin-left: 30px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2vw;
        }
    }
}

@media screen and (max-width: 450px) {
    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            margin-left: 30px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2vw;
        }
    }
}

@media screen and (max-width: 1200px) {
    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            margin-top: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2vw;
        }
    }
}

@media screen and (max-width: 600px) {
    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        &__container {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2vw;
        }
    }
}
