body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	//    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/f1d0d572816947.5c2bcd89d519b.gif);
	background-image: url('./image/background.png');
}
